<div id="legalBtn"></div>
<div id="legalContent">


Individuals must be 19 years of age or older to participate in online sports betting with PROLINE+. Individuals must be a resident of Ontario. Terms and Conditions apply.
        </div>
        

